<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="sections/head :: head(${title})">
	Head
</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<header th:replace="sections/header :: header">
			Header
		</header>
		<aside class="main-sidebar" th:replace="sections/sidebar :: sidebar">
			Sidebar
		</aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1 th:text="${title}">
					Title
				</h1>
			</section>

			<section class="content container-fluid">
				<div layout:fragment="alert"></div>
				<div class="row content-body">
					<div class="col" layout:fragment="content">
						Content
					</div>
				</div>
			</section>
		</div>

		<footer class="main-footer" th:replace="sections/footer :: footer">
			Footer
		</footer>
	</div>

	<script th:src="@{/assets/admin/js/adminlte.min.js}"></script>
	<script type="text/javascript" layout:fragment="script-footer"></script>
</body>
</html>