<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/template_main}">
<head>
</head>
<body>
	<div class="col" layout:fragment="content">
		<form action="#" th:action="@{/pages/profile/edit(id=${#httpServletRequest.getParameter('id')})}" method="post" th:object="${cmsUser}" enctype="multipart/form-data">
			<div class="form-group">
		    	<label for="username">Username</label>
	      		<input type="username" class="form-control" id="username" placeholder="Username" th:field="*{username}" readonly>
		  	</div>
		  	<div class="form-group">
		    	<label for="name">Name</label>
	      		<input type="text" class="form-control" id="name" placeholder="Name" th:field="*{name}">
	      		<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="error"></p>
		  	</div>
			<div class="form-group">
		    	<label for="email">Email</label>
	      		<input type="email" class="form-control" id="email" placeholder="Email" th:field="*{email}">
	      		<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="error"></p>
		  	</div>
		  	<div class="form-group">
		    	<label for="phone-number">Phone Number</label>
				<input type="text" class="form-control" id="phone-number" placeholder="Phone Number" th:field="*{phoneNumber}">
	      		<p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" th:class="error"></p>
		  	</div>
		  	<div th:if="${cmsUser.merchant != null}" th:remove="tag">
		  		<div class="form-group">
			    	<label for="name">Nama Merchant</label>
		      		<input type="text" class="form-control" id="merchant-name" placeholder="Nama Merchant" th:field="*{merchant.name}">
		      		<p th:if="${#fields.hasErrors('merchant.name')}" th:errors="*{merchant.name}" th:class="error"></p>
			  	</div>
			  	<div class="form-group">
			    	<label for="name">Email Merchant</label>
		      		<input type="email" class="form-control" id="merchant-email" placeholder="Email Merchant" th:field="*{merchant.email}">
		      		<p th:if="${#fields.hasErrors('merchant.email')}" th:errors="*{merchant.email}" th:class="error"></p>
			  	</div>
			  	<div class="form-group">
			    	<label for="name">Deskripsi Merchant</label>
		      		<textarea rows="5" class="form-control" id="description" placeholder="Deskripsi" th:field="*{merchant.description}" />
		      		<p th:if="${#fields.hasErrors('merchant.description')}" th:errors="*{merchant.description}" th:class="error"></p>
			  	</div>
			  	<div class="form-group">
			    	<label for="name">Alamat Merchant</label>
		      		<input type="text" class="form-control" id="address" placeholder="Alamat" th:field="*{merchant.address}">
		      		<p th:if="${#fields.hasErrors('merchant.address')}" th:errors="*{merchant.address}" th:class="error"></p>
			  	</div>
			  	<div class="form-group">
			    	<label for="name">Call Center Merchant</label>
		      		<input type="text" class="form-control" id="call-center" placeholder="Call Center" th:field="*{merchant.callCenter}">
		      		<p th:if="${#fields.hasErrors('merchant.callCenter')}" th:errors="*{merchant.callCenter}" th:class="error"></p>
			  	</div>
		  		<div class="form-group">
			    	<label for="name">Web URL Merchant</label>
		      		<input type="text" class="form-control" id="web-url" placeholder="Web URL" th:field="*{merchant.webUrl}">
		      		<p th:if="${#fields.hasErrors('merchant.webUrl')}" th:errors="*{merchant.webUrl}" th:class="error"></p>
			  	</div>
			  	<input type="file" name="logo_merchant" id="logo_merchant" /> <br/>
			  	<input type="hidden" th:field="*{merchant.id}" />
		  	</div>
		  	
		  	<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</body>
</html>