<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<aside class="main-sidebar" th:fragment="sidebar">
		<section class="sidebar">
			<ul class="sidebar-menu" data-widget="tree">
				<li th:classappend="${activeGroupMenu.equals('[dashboard]')} ? 'active' : ''">
					<a th:href="@{/pages/dashboard}">
						<i class="fa fa-home"></i>
						<span>Beranda</span>
					</a>
				</li>
				
				<th:block th:each="group : ${userCmsMenu}" th:remove="tag" th:with="pathGroup=${#strings.toLowerCase({#strings.replace(group.key,' ','-')})}">
					<li class="treeview menu-display" th:classappend="${pathGroup.contains({activeGroupMenu})} ? 'active' : ''">
						<a>
							<i class="fa fa-sliders"></i>
							<span th:text="${group.key}"></span>
							<span class="pull-right-container">
								<i class="fa fa-angle-left pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu menu-display">
							<th:block th:each="menu : ${group.value}" th:remove="tag">
								<li class="menu-display" th:classappend="${#httpServletRequest.requestURI.contains({menu.url})} ? 'active' : ''">
									<a th:href="@{|${menu.url}|}">
										<i class="fa fa-phone-square"></i>
										<th:block th:text="${menu.name}" th:remove="tag"></th:block>
									</a>
								</li>
							</th:block>
						</ul>
					</li>
				</th:block>
			</ul>
		</section>
	</aside>
</body>
</html>